---
import Badge from "@/components/Badge.astro";
import Button from "./Button.astro";
import CSharpIcon from "./icons/CSharpIcon.astro";
import ElementorIcon from "./icons/ElementorIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import IntellijIDEAIcon from "./icons/IntelliJIDEAIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import MSQLSERVERIcon from "./icons/msql.astro";
import MySqlIcon from "./icons/MySqlIcon.astro";
import OracleApexIcon from "./icons/Apex.astro";
import PLSQLIcon from "./icons/PLSQL.astro";
import PostgresqlIcon from "./icons/Postgresql.astro";
import ProjectsButton from "@/components/ProjectsButton.astro";
import WordPressIcon from "./icons/WordPressIcon.astro";
import SQLiteIcon from "./icons/SQLiteIcon.astro";

const crudRegistrar = "../projects/crud/Registrar.png";
const globalIconsClasses = "text-white items-center gap-x-1";
const marcandoPasosImage = "../projects/marcandopasos.png";
const oracleApexApp = "../projects/apex/Screenshot_1.png";

const TAGS = {
  WORDPRESS: {
    name: "WordPress",
    class: globalIconsClasses,
    icon: WordPressIcon,
  },
  ELEMENTOR: {
    name: "Elementor",
    class: globalIconsClasses,
    icon: ElementorIcon,
  },
  JAVA: {
    name: "Java",
    class: globalIconsClasses,
    icon: JavaIcon,
  },
  IDEA: {
    name: "Idea",
    class: globalIconsClasses,
    icon: IntellijIDEAIcon,
  },
  CSHARP: {
    name: "CSharp",
    class: globalIconsClasses,
    icon: CSharpIcon,
  },
  MYSQL: {
    name: "MySql",
    class: globalIconsClasses,
    icon: MySqlIcon,
  },
  SQLITE: {
    name: "SQLite",
    class: globalIconsClasses,
    icon: SQLiteIcon,
  },
  SQLSERVER: {
    name: "MSSQL",
    class: globalIconsClasses,
    icon: MSQLSERVERIcon,
  },
  PLSQL: {
    name: "Oracle PLSQL",
    class: globalIconsClasses,
    icon: PLSQLIcon,
  },
  POSTGRESQL: {
    name: "Postgresql",
    class: globalIconsClasses,
    icon: PostgresqlIcon,
  },
  ORACLEAPEX: {
    name: "Oracle Apex",
    class: globalIconsClasses,
    icon: OracleApexIcon,
  },
};

const PROJECTS = [
  {
    title: "Sistema de Ventas",
    description:
      "Una pequeña aplicación construida en la plataforma de Oracle 'Apex', que registra productos, categoría de productos, clientes, ventas, etc.",
    link: "https://oracleapex.com",
    image: oracleApexApp,
    tags: [TAGS.ORACLEAPEX, TAGS.PLSQL],
  },
  {
    title: "CRUD C#",
    description:
      "Este proyecto fue desarrollado en C#, con Windows Forms y SQLite como base de datos.",
    link: "https://github.com/MauricioFRC/CRUD",
    image: crudRegistrar,
    tags: [TAGS.CSHARP, TAGS.SQLITE],
  },
  {
    title: "Marcando Pasos",
    description:
      'El proyecto "Marcando Pasos" fue un proyecto hecho a medida para un centro de Rehabilitación privado, sin fines de lucro que ofrece servicios de rehabilitación para personas con "Capacidades Diferentes Marcando Pasos".',
    link: "https://www.marcandopasos.org.py/",
    image: marcandoPasosImage,
    tags: [TAGS.WORDPRESS, TAGS.ELEMENTOR],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, link }) => (
    <article>
      <h3 class="text-2xl font-semibold text-blue-400">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <img
        class="rounded-2xl"
        src={image}
        alt={`Imágen del proyecto ${image}`}
      />
      <ul class="mt-4 inline-flex gap-x-3 items-center">
        {tags.map((tag) => (
          <li class="mb-14">
            <Badge>
              <span class={`flex gap-x-2${tag.class}`}>
                <tag.icon class="size-6" />
                {tag.name}
              </span>
            </Badge>
          </li>
        ))}
        <ProjectsButton>
          <GitHubIcon class="size-6 mr-2" />
          <a href={link} target="_blank" class="items-center flex">
            Proyecto
          </a>
        </ProjectsButton>
      </ul>
    </article>
  ))
}
