---
import Badge from "../components/Badge.astro";
import CSharpIcon from "./icons/CSharpIcon.astro";
import ElementorIcon from "./icons/ElementorIcon.astro";
import IntellijIDEAIcon from "./icons/IntelliJIDEAIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import MSQLSERVERIcon from "./icons/msql.astro";
import MySqlIcon from "./icons/MySqlIcon.astro";
import WordPressIcon from "./icons/WordPressIcon.astro";

const globalIconsClasses = "text-white items-center gap-x-1";
const marcandoPasos = "../projects/marcandopasos.png";

const TAGS = {
  WORDPRESS: {
    name: "WordPress",
    class: globalIconsClasses,
    icon: WordPressIcon,
  },
  ELEMENTOR: {
    name: "Elementor",
    class: globalIconsClasses,
    icon: ElementorIcon,
  },
  JAVA: {
    name: "Java",
    class: globalIconsClasses,
    icon: JavaIcon,
  },
  IDEA: {
    name: "Idea",
    class: globalIconsClasses,
    icon: IntellijIDEAIcon,
  },
  CSHARP: {
    name: "CSharp",
    class: globalIconsClasses,
    icon: CSharpIcon,
  },
  MYSQL: {
    name: "",
    class: globalIconsClasses,
    icon: MySqlIcon,
  },
  SQLSERVER: {
    name: "MSSQL",
    class: globalIconsClasses,
    icon: MSQLSERVERIcon,
  },
};

const PROJECTS = [
  {
    title: "CRUD",
    description:
      "En este proyecto utilice tecnologias de Microsoft, los famosos Windows Forms acompa침ado del gestor de base de datos Microsoft SQL Server",
    link: "https://github.com/MauricioFRC",
    github: "https://github.com/MauricioFRC/MauricioFRC",
    image: "",
    tags: [TAGS.CSHARP, TAGS.SQLSERVER],
  },
  {
    title: "Marcando Pasos",
    description:
      'El proyecto "Marcando Pasos" fue un proyecto hecho a medida para un centro de Rehabilitaci칩n privada sin fines de lucro que ofrece servicios de rehabilitaci칩n.',
    link: "https://www.marcandopasos.org.py/",
    image: marcandoPasos,
    tags: [TAGS.WORDPRESS, TAGS.ELEMENTOR],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, link }) => (
    <article>
      <h3 class="text-2xl font-semibold text-blue-400">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <img class="rounded" src={image} alt={`Im치gen del proyecto ${image}`} />
      <ul class="flex flex-row mb-2 gap-x-2 pt-5">
        <a href={link}>Enlace del Proyecto</a>
        {tags.map((tag) => (
          <li class="mb-14">
            <Badge>
              <span class={`flex gap-x-2${tag.class}`}>
                <tag.icon class="size-6" />
                {tag.name}
              </span>
            </Badge>
          </li>
        ))}
      </ul>
    </article>
  ))
}
